.dataTables_filter,
#products-table_length {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

#create-category-form,
#edit-category-form {
    padding: 10px;
    border: 1px solid #212529;
    border-radius: 5px;
    background-color: white;
}

#categories-table_filter,
#categories-table_filter input,
#products-table_filter,
#products-table_filter input,
#orders-table_filter,
#orders-table_filter input {
    color: white;
}

#products-table_paginate>span>a,
#orders-table_paginate>span>a {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #fff !important;
    background: #343a40 !important;
    border-color: #343a40 !important;
}

#products-table_paginate>span>a.paginate_button.current,
#orders-table_paginate>span>a.paginate_button.current {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #343a40 !important;
    background: #fff !important;
    border-color: #fff !important;
}

a#products-table_previous,
a#products-table_next,
a#orders-table_previous,
a#orders-table_next {
    color: white !important;
    padding: 5px;
}

a#products-table_previous:hover,
a#products-table_next:hover,
a#orders-table_previous:hover,
a#orders-table_next:hover {
    background: none;
    border: none;
    color: rgb(252, 20, 103)!important;
}

.table {
    background-color: white;
    border-radius: 5px !important;
}